.container {
  list-style-type: none;
  position: absolute;

  color: white;
  width: 240px;
  padding: 0;
  top: 50px;
  left: 132px;

  li {
    font-size: 14px;
    background-color: black;
    cursor: pointer;
    margin: 5px;
    border: 1px solid white;
    padding: 2px;
    text-align: center;
  }

  li:hover {
    border: 1px solid aqua;
    color: aqua;
  }
}
