.container {
  margin: auto;
}

.name {
  text-align: center;
  margin: 0;
  font-size: 40px;
}

.back {
  display: block;

  font-size: 24px;
  border: 2px solid var(--color-brown);
  border-radius: 10%;
  padding: 20px;
  color: var(--color-white);
  background-color: var(--color-dark);
  cursor: pointer;
  width: 340px;
  margin-top: 20px;
}

.back:hover {
  color: var(--color-blue);
}

.item {
  display: flex;

  &__image {
    display: block;
    object-fit: cover;
    width: 340px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__description {
    margin-left: 20px;
    border: 2px solid var(--color-brown);
    padding: 5px;
    span {
      color: var(--color-brown);
      font-size: 22px;
    }
  }
  &__price {
    margin: 0;
    margin-left: 20px;
    font-size: 40px;
    color: var(--color-brown);
    font-size: 50px;
    text-align: center;

    background-color: rgb(240, 203, 203);

    border: 2px solid var(--color-brown);
    border-radius: 5px;
    padding: 5px;
    margin-right: 60px;
  }
}

.btn {
  display: block;

  font-size: 24px;
  border: 2px solid var(--color-brown);
  border-radius: 10%;
  padding: 20px;
  color: var(--color-white);
  background-color: var(--color-dark);
  cursor: pointer;
  margin-left: 60px;
}

.btn:hover {
  color: var(--color-blue);
}
