.container {
  display: flex;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    list-style-type: none;
  }
  margin: 0;
  margin: auto;
  margin-top: 20px;
}

.item {
  text-decoration: none;
  list-style-type: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  height: 460px;
  max-width: 240px;
  overflow-y: scroll;

  &__image {
    display: block;
    object-fit: cover;
    width: 200px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
  }
  &__name {
    margin: 2px;
    text-align: center;
    color: black;
    span {
      color: rgb(141, 5, 5);
    }
    height: 55px;
  }
  &__price {
    margin: 2px;
    text-align: center;
    color: black;
    span {
      color: rgb(141, 5, 5);
    }
  }
  &__description {
    margin: 2px;
    text-align: center;
    color: black;
    span {
      color: rgb(141, 5, 5);
    }
  }
}

.item::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.item::-webkit-scrollbar-thumb {
  background: rgb(141, 5, 5);
  border-radius: 5px;
}
