.text {
  text-align: center;
  color: var(--color-brown);
}

.image {
  display: block;
  object-fit: cover;
  max-width: 400px;
  margin: auto;
}

a {
  text-decoration: none;
}
.btn {
  display: block;
  margin: auto;
  font-size: 24px;
  border: 2px solid var(--color-black);
  border-radius: 10%;
  padding: 20px;
  color: var(--color-white);
  background-color: var(--color-brown);
  cursor: pointer;

  margin-top: 20px;
}

.btn:hover {
  color: var(--color-blue);
}
